@model IEnumerable<WebApplication1.Models.Coment>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="article">
    <div class="part-show">
        <div class="title-index"> @ViewData["PostName"].ToString()</div>
        <div class="text-index">@ViewData["PostText"].ToString()</div>

        <div class="comments-header">Комментарии:</div>
        <div class="comments">           
            @foreach (var item in Model)
            {   
                <div class="comments-part">
                    @if (item.author.UserName == User.Identity.Name.ToString()) {
                        @Html.ActionLink("x", "Delete", new { id = item.id }, new { @class = "delete-comment-btn" }) 
                    }                   
                    <div class="comment-autor">
                        @Html.DisplayFor(modelItem => item.author.UserName)
                    </div>
                    <div class="comment-text">
                        @Html.DisplayFor(modelItem => item.text)
                    </div>              
                </div>              
            }
        </div>
        <div class="add-comment">
            @Html.ActionLink("Новый комментарий", "Create", new { }, new { @class = "comment-new-btn" })
        </div>
    </div>
</div>        



